.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!node_modules/sharp
!node_modules/sharp/**/*
!node_modules/@img/**/*
!node_modules/detect-libc/**/*
!node_modules/semver/**/*
!node_modules/simple-swizzle/**/*
!node_modules/is-arrayish/**/*
